.float-container {
    border: 3px solid #fff;
    padding: 10px;
}

.float-child-first {
    width: 49%;
    float: left;
    padding: 0 17px 0 0;
}   

.float-child-second {
    width: 50%;
    float: left;
    min-height: 500px;
    padding-top: 10px;
}  