.float-container {
    border: 3px solid #fff;
    padding: 10px;
}

.float-child-first {
    width: 50%;
    float: left;
    padding: -10px 50px 10px 10px;
}  

.float-child-second {
    width: 50%;
    float: left;
    min-height: 500px;
}  