<form [formGroup]="form">
    <div>
      <div>
        <p style="font-weight: 700">Flight</p>
        <mat-form-field style="padding: 10px;">
          <mat-label>(Average) Departure Delay</mat-label>
          <input matInput  type="number" formControlName="dep_delay"/>
          <span matSuffix>min</span>
        </mat-form-field>
        <mat-form-field style="padding: 10px;">
          <mat-label>Distance</mat-label>
          <input matInput  type="number" min="0" formControlName="distance"/>
          <span matSuffix>km</span>
          <mat-error *ngIf="form.get('distance')?.invalid">Distance should be greater than 0</mat-error>
        </mat-form-field>
        <p style="font-weight: 700">Flight date and time options</p>
       <mat-form-field style="padding: 10px;">
         <mat-label>Departure hour (0-23)</mat-label>
         <input matInput  type="number" min="1" max="23" formControlName="hour_of_day"/>
         <mat-error *ngIf="form.get('hour_of_day')?.invalid">Hour should be between 0 and 23</mat-error>
       </mat-form-field>
       <mat-form-field style="padding: 10px;">
        <mat-label>Departure day of week</mat-label>
        <mat-select formControlName="day_of_week" panelClass="select">
           <mat-option *ngFor="let day of weekDays | keyvalue" [value]="day.key">{{ day.value}}</mat-option>
        </mat-select>
     </mat-form-field>
     <mat-form-field style="padding: 10px;">
      <mat-label>Departure month</mat-label>
      <mat-select formControlName="month" panelClass="select">
         <mat-option *ngFor="let month of months | keyvalue" [value]="month.key">{{ month.value}}</mat-option>
      </mat-select>
   </mat-form-field>
      </div>
      <div>
        <p style="font-weight: 700">Covid related variables:</p>
        <mat-form-field style="padding: 10px; width: 20%;">
          <mat-label>Cases Origin </mat-label>
          <input matInput  type="number" formControlName="orig_cases_perc"/>
        </mat-form-field>
        <button mat-icon-button matTooltip="Corona cases relative to population (in %) at origin." style="margin-left: -40px;">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <mat-form-field style="padding: 10px; width: 20%;">
          <mat-label>Cases Destination</mat-label>
          <input matInput type="number" formControlName="dest_cases_perc"/>
        </mat-form-field>
        <button mat-icon-button matTooltip="Corona cases relative to population (in %) at destination." style="margin-left: -40px;">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <mat-form-field style="padding: 10px; width: 20%;">
          <mat-label>Incr. Origin</mat-label>
          <input matInput type="number" formControlName="orig_cases_increase_7"/>
        </mat-form-field>
        <button mat-icon-button matTooltip="Corona trends as change in comparison to previous week average at origin." style="margin-left: -40px;">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <mat-form-field style="padding: 10px; width: 20%;">
          <mat-label>Incr. Destination</mat-label>
          <input matInput type="number" formControlName="dest_cases_increase_7"/>
        </mat-form-field>
        <button mat-icon-button matTooltip="Corona trends as change in comparison to previous week average at destination." style="margin-left: -40px;">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </div>
      <div>
        <p style="font-weight: 700">Airline</p>
        <mat-form-field style="padding: 10px; min-width: 50%;">
          <mat-label>Name</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Airline"
                 matInput
                 formControlName="airline"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let carrier of filteredCarriers | async" [value]="carrier">
              {{carrier}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
   </div>
   <button mat-raised-button color="primary" type="submit" (click)="predictDelay()">Predict</button>
  </form>