<!-- <form [formGroup]="form">
    <div>
      <div>
        <p style="font-weight: 700">Time Options</p>
       <mat-form-field style="padding: 10px;">
         <mat-label>Hour of the day</mat-label>
         <input matInput  type="number" min="1" max="23" formControlName="hour"/>
       </mat-form-field>
       <mat-form-field style="padding: 10px;">
         <mat-label>Day of the week</mat-label>
         <input matInput type="number" min="1" max="7" formControlName="day"/>
       </mat-form-field>
       <mat-form-field style="padding: 10px;">
        <mat-label>Month</mat-label>
        <input matInput type="number" min="1" max="6" formControlName="month"/>
      </mat-form-field>
      </div>
      <div>
        <p style="font-weight: 700">Covid Case %:</p>
        <mat-form-field style="padding: 10px;">
          <mat-label>Origin</mat-label>
          <input matInput  type="number" min="1" max="100" formControlName="hour"/>
        </mat-form-field>
        <mat-form-field style="padding: 10px;">
          <mat-label>Destination</mat-label>
          <input matInput type="number" min="1" max="100" formControlName="day"/>
        </mat-form-field>
      </div>
      <div>
        <p style="font-weight: 700">Airline</p>
        <mat-form-field style="padding: 10px;">
          <mat-label>Name</mat-label>
        <mat-select formControlName="day" panelClass="select">
          <mat-option *ngFor="let airline of airlines" [value]="airline">{{airline}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
   </div>
   <button mat-raised-button color="primary" type="submit" (click)="predictDelay()">Predict</button>
  </form> -->

  <p>FORM HERE</p>