<form [formGroup]="form">
    <div>
      <div>
        <p style="font-weight: 700">Flight</p>
        <mat-form-field style="padding: 10px;">
          <mat-label>Departure Delay</mat-label>
          <input matInput  type="number" step="0.1" formControlName="dep_delay"/>
          <span matSuffix>min</span>
        </mat-form-field>
        <mat-form-field style="padding: 10px;">
          <mat-label>Distance</mat-label>
          <input matInput  type="number" step="0.1" formControlName="distance"/>
          <span matSuffix>km</span>
        </mat-form-field>
        <p style="font-weight: 700">Time Options</p>
       <mat-form-field style="padding: 10px;">
         <mat-label>Hour of the day</mat-label>
         <input matInput  type="number" min="1" max="23" formControlName="hour_of_day"/>
       </mat-form-field>
       <mat-form-field style="padding: 10px;">
         <mat-label>Day of the week</mat-label>
         <input matInput type="number" min="1" max="7" formControlName="day_of_week"/>
       </mat-form-field>
       <mat-form-field style="padding: 10px;">
        <mat-label>Month</mat-label>
        <input matInput type="number" min="1" max="6" formControlName="month"/>
      </mat-form-field>
      </div>
      <div>
        <p style="font-weight: 700">Covid Case:</p>
        <mat-form-field style="padding: 10px; width: 20%;">
          <mat-label>Origin</mat-label>
          <input matInput  type="number" formControlName="orig_cases_perc"/>
        </mat-form-field>
        <mat-form-field style="padding: 10px; width: 20%;">
          <mat-label>Destination</mat-label>
          <input matInput type="number" formControlName="dest_cases_perc"/>
        </mat-form-field>
        <mat-form-field style="padding: 10px; width: 20%;">
          <mat-label>Incr. Origin</mat-label>
          <input matInput type="text" formControlName="orig_cases_increase_7"/>
        </mat-form-field>
        <mat-form-field style="padding: 10px; width: 20%;">
          <mat-label>Incr. Destination</mat-label>
          <input matInput type="text" formControlName="dest_cases_increase_7"/>
        </mat-form-field>
      </div>
      <div>
        <p style="font-weight: 700">Airline</p>
        <mat-form-field style="padding: 10px; min-width: 50%;">
          <mat-label>Name</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Airline"
                 matInput
                 formControlName="airline"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let carrier of filteredCarriers | async" [value]="carrier">
              {{carrier}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
   </div>
   <button mat-raised-button color="primary" type="submit" (click)="predictDelay()">Predict</button>
  </form>