.float-container {
    border: 3px solid #fff;
    padding: 10px;
}

.float-child-first {
    width: 60%;
    float: left;
    padding: 10px;
}  

.float-child-second {
    width: 30%;
    float: left;
    padding: 10px;
}  