<mat-form-field style="padding: 10px 30px;">
  <mat-label>From</mat-label>
  <mat-select [formControl]="fromAirport" panelClass="select">
    <mat-option *ngFor="let fromAirport of fromAirportList" [value]="fromAirport">{{fromAirport}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field style="padding: 10px;">
  <mat-label>To</mat-label>
  <mat-select [formControl]="toAirport" panelClass="select">
    <mat-option *ngFor="let toAirport of toAirportList" [value]="toAirport">{{toAirport}}</mat-option>
  </mat-select>
</mat-form-field>
<div class="float-container">
    <div class="float-child-first">
      <div id="chart"></div>
    </div>

    <div class="float-child-second" *ngIf="rowData.length > 0" id="grid">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Machine Learning Predict">
          <form [formGroup]="form">
            <div>
              <div>
                <p style="font-weight: 700">Time Options</p>
               <mat-form-field style="padding: 10px;">
                 <mat-label>Hour of the day</mat-label>
                 <input matInput  type="number" min="1" max="23" formControlName="hour"/>
               </mat-form-field>
               <mat-form-field style="padding: 10px;">
                 <mat-label>Day of the week</mat-label>
                 <input matInput type="number" min="1" max="7" formControlName="day"/>
               </mat-form-field>
               <mat-form-field style="padding: 10px;">
                <mat-label>Month</mat-label>
                <input matInput type="number" min="1" max="6" formControlName="month"/>
              </mat-form-field>
              </div>
              <div>
                <p style="font-weight: 700">Covid Case %:</p>
                <mat-form-field style="padding: 10px;">
                  <mat-label>Origin</mat-label>
                  <input matInput  type="number" min="1" max="100" formControlName="hour"/>
                </mat-form-field>
                <mat-form-field style="padding: 10px;">
                  <mat-label>Destination</mat-label>
                  <input matInput type="number" min="1" max="100" formControlName="day"/>
                </mat-form-field>
              </div>
              <div>
                <p style="font-weight: 700">Airline</p>
                <mat-form-field style="padding: 10px;">
                  <mat-label>Name</mat-label>
                <mat-select formControlName="day" panelClass="select">
                  <mat-option *ngFor="let airline of airlines" [value]="airline">{{airline}}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
           </div>
           <button mat-raised-button color="primary" type="submit" (click)="predictDelay()">Predict</button>
          </form>
        </mat-tab>
        <mat-tab label="Historical Data">        
          <ag-grid-angular
            style="width: 800px; height: 800px;"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [gridOptions]="gridOptions"
            [columnDefs]="columnDefs"
      >
      </ag-grid-angular></mat-tab>
      </mat-tab-group>
    </div>

</div>




